<div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>
    <div class="carousel-cell">
        <a href="https://opentelemetry.io/blog/2025/contribex-survey-results/" target="_blank">
            <img src="https://github.com/VidhyaDivakar/TestEnvironment/blob/main/assets/images/OtelSurvey1%20image.jpg?raw=true?text=Slide+1"
                alt="ContribEx Survey Results 2025">
        </a>
    </div>
    <div class="carousel-cell">
        <a href="https://opentelemetry.io/blog/2025/devex-survey/" target="_blank">
            <img src="https://github.com/VidhyaDivakar/TestEnvironment/blob/main/assets/images/devex-survey.jpg?raw=true?text=Slide+2"
                alt="Devex Survey Results">
        </a>
    </div>
    <div class="carousel-cell">
        <a href="https://opentelemetry.io/blog/2024/otel-docs-survey/" target="_blank">
            <img src="https://github.com/VidhyaDivakar/TestEnvironment/blob/main/assets/images/otel-docs-survey.jpg?raw=true?text=Slide+3"
                alt="Otel Docs Survey">
        </a>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>